@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Fira Sans" */
.full {
  background-color: #f1f1f3;
  font-family: "Fira Sans";
}

/* Shared styles */
.font {
  font-family: "Fira Sans";
}
.btn-primary {
  font-family: "Fira Sans";
  font-size: 16px;
  color: white;
  background-color: #006a50;
  border-radius: 8px;
  border: none;
  padding: 11px 20px 11px 20px;
  cursor: pointer;
}
.btn-secondary {
  font-family: "Fira Sans";
  font-size: 16px;
  color: white;
  background-color: #5490f5;
  border-radius: 8px;
  border: none;
  padding: 11px 20px 11px 20px;
  cursor: pointer;
}
.btn-third {
  font-family: "Fira Sans";
  font-size: 16px;
  color: white;
  background-color: #ffc239;
  border-radius: 8px;
  border: none;
  padding: 11px 20px 11px 20px;
  cursor: pointer;
}

/* header Styles */
.header {
  font-family: "Fira Sans";
  display: flex;
  justify-content: space-between;
}
#header-word {
  font-family: "Fira Sans";
  font-size: 25px;
  color: #0e0e0e;
  margin-top: 24px;
  margin-bottom: 24px;
}

#header-btn {
  color: #006a50;
  font-size: 18px;
  background-color: none;
  border-radius: 8px;
  border-color: #006a50;
  margin-right: 10px;
  padding: 15px 30px;
  margin-top: 18px;
  margin-bottom: 24px;
  cursor: pointer;
}

/* First section styles */
.first-section {
  background-color: #c6e4d6;
  display: flex;
  border-radius: 24px;
}
.first-section-pic {
  width: 400px;
  height: 300px;
  padding: 110px;
}
.first-section-title {
  font-family: "Fira Sans";
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  margin-bottom: 16px;
}
.first-section-sub-title {
  font-family: "Fira Sans";
  font-weight: bold;
  font-size: 56px;
  color: #0e0e0e;
  margin-top: 0px;
}
.right-part {
  padding: 50px;
}

/* Section two styles */
.second-section-title {
  font-family: "Fira Sans";
  font-size: 40px;
  color: black;
}
.four-ta-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.second-section-box {
  border-color: white;
  border-radius: 16px;
  background-color: white;
  padding: 18px;
  color: rgba(14, 14, 14, 0.7);
}

/* Third Section Styles */
.third-section {
  color: rgba(14, 14, 14, 0.7);
}
.third-section-title {
  font-family: "Fira Sans";
  font-size: 40px;
  color: #0e0e0e;
}
.third-section-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
}

.three-ta-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.third-section-box-one {
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
}
.third-section-box-two {
  border-radius: 16px;
  background-color: rgba(198, 228, 214, 1);
  padding: 32px;
}
.third-section-box-three {
  border-radius: 16px;
  background-color: rgba(247, 235, 207, 1);
  padding: 32px;
}

/* Fourth section styles */
.fourth-section {
  font-family: "Fira Sans";
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: 23px 40px;
  margin-top: 30px;
}
.fourth-section-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
}
.fourth-section-title {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
}
.fourth-section-sub-title {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}
.fourth-box {
  padding: 48px 24px;
}

/* fifth Section Styles */
.fifth-section {
  color: #0e0e0e;
  font-family: "Fira Sans";
}
.fifth-section-title {
  color: #0e0e0e;
  font-size: 40px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  background-color: #d3e8d3;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  padding: 24px;
}

th {
  background-color: #f2f2f2;
}
select {
  width: 100%;
  padding: 5px;
}

.fifth-section-table-header-1 {
  background-color: #c6e4d6;
  font-size: 20px;
  padding: 24px;
}
#two {
  margin-left: 950px;
}

.fifth-section-table-question {
  padding: 36.5px 24px;
  font-weight: bold;
  font-size: 16px;
  color: #0e0e0e;
}
.fifth-section-option-bar-box {
  padding: 24px;
  color: #0e0e0e;
}
.fifth-section-option-bar {
  font-family: "Fira Sans";
  font-size: 16px;
  color: black;
  background-color: #c6e4d6;
  border-radius: 4px;
  border: 0.1px solid black;
  padding: 24px;
}
*/

/* Sixth section styles */
.sixth-section {
  font-family: "Fira Sans";
}
.sixth-section-title {
  font-size: 40px;
  color: #0e0e0e;
}
.sixth-section-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

/* seven section styles */
.seven-section {
  background-color: white;
  display: flex;
  gap: 32px;
  border-radius: 24px;
  margin-top: 24px;
}
.seven-section-right-part {
  margin-top: 56px;
  margin-right: 48px;
}
.seven-section-pic img {
  width: 408px;
  margin: 48px 32px 48px 48px;
  border-radius: 12px;
}
.seven-section-title {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
}
.seven-section-pic-2 {
  margin-top: 12px;
}
.seven-section-date-time {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  color: rgba(14, 14, 14, 0.7);
}
.seven-section-description {
  margin-top: 12px;
  display: flex;
  color: rgba(14, 14, 14, 0.7);
}
.seven-section-btn {
  margin-top: 32px;
}

/* Eight section styles */
.eight-section {
  border-radius: 24px;
  background-color: white;
  margin-top: 24px;
}
.eight-section-flex {
  display: flex;
  margin-top: 56px;
  gap: 32px;
}
.eight-section-left-part {
  margin-top: 56px;
  margin-left: 48px;
}
.eight-section-pic img {
  width: 408px;
  border-radius: 12px;
  margin-top: 56px;
  margin-right: 48px;
}
.eight-section-title {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
}
.eight-section-pic-2 {
  margin-top: 12px;
}
.eight-section-date-time {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  color: rgba(14, 14, 14, 0.7);
}
.eight-section-description {
  margin-top: 12px;
  display: flex;
  color: rgba(14, 14, 14, 0.7);
}
.eight-section-btn {
  margin-top: 32px;
}

/* Nine section styles */
.nine-section {
  background-color: white;
  display: flex;
  gap: 32px;
  border-radius: 24px;
  margin-top: 24px;
}
.nine-section-right-part {
  margin-top: 56px;
  margin-right: 48px;
}
.nine-section-pic img {
  width: 408px;
  margin: 48px 32px 48px 48px;
  border-radius: 12px;
}
.nine-section-title {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
}
.nine-section-pic-2 {
  margin-top: 12px;
}
.nine-section-date-time {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  color: rgba(14, 14, 14, 0.7);
}
.nine-section-description {
  margin-top: 12px;
  display: flex;
  color: rgba(14, 14, 14, 0.7);
}
.nine-section-btn {
  margin-top: 32px;
}

/* Ten section styles */
.ten-section {
  align-items: center;
}

.ten-section-title {
  font-family: "Fira Sans";
  font-size: 40px;
  color: #0e0e0e;
  text-align: center;
  margin-bottom: 24px;
}
.ten-section-description {
  font-family: "Fira Sans";
  font-size: 19px;
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.ten-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.ten-section-btn-box {
  width: 240px;
  height: 128px;
  border-radius: 16px;
  background-color: white;
  border: none;
  margin-bottom: 32px;
}
.ten-section-box-color {
  background-color: rgba(198, 228, 214, 1);
}
.ten-section-btn-box-amount {
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  padding: 5px;
  cursor: pointer;
  margin-bottom: 32px;
}
#ten-section-amount {
  text-align: center;
  align-items: center;
  width: 900px;
  height: 40px;
  padding: 18px 0px 18px 40px;
  font-size: 20px;
}
.ten-section-input {
  align-items: center;
  margin-bottom: 32px;
}
.ten-section-btn {
  text-align: center;
  margin-bottom: 32px;
}

/* Eleven section styles */

.eleven-section {
  border-radius: 24px;
  background-color: rgba(198, 228, 214, 1);
}
.eleven-section-box {
  padding: 80px 265px;
}

.eleven-section-title {
  font-size: 40px;
  color: #0e0e0e;
  text-align: center;
  margin-bottom: 16px;
}
.eleven-section-description {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
}
.eleven-section-input-email {
  align-items: center;
  display: flex;
  width: 750px;
  height: 56px;
}
.eleven-section-btn {
  border-radius: 0px;
  width: 150px;
  height: 56px;
  font-size: 16px;
  color: white;
  background-color: #006a50;
  border: none;
  padding: 11px 20px 11px 20px;
  cursor: pointer;
}
#enter-your-email {
  width: 600px;
  height: 16.5px;
  padding: 18px 0px 18px 40px;
}
.eleven-section-last {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
}

/* Footer section styles */
.footer-section {
  font-family: "Fira Sans";
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}
.footer-pic {
  display: flex;
  justify-content: center;
  gap: 23px;
  padding-left: 1px;
  margin-bottom: 50px;
}
